
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 100px); 
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.item {
  border-radius: 4px;
}


.green-tall {
  background-color: #68b04d;
  grid-row: span 3;
}

.orange-small-1 {
  background-color: #fab42a;
}

.red-small-1 {
  background-color: #e64032;
}

.red-tall-1 {
  background-color: #e64032;
  grid-row: span 4;
}

.red-medium {
  background-color: #e64032;
  grid-column: span 2;
}

.red-small-2 {
  background-color: #e64032;
  grid-row: span 2;
}

.green-tall-2 {
  background-color: #68b04d;
  grid-row: span 2;
}

.orange-medium {
  background-color: #fab42a;
  grid-column: span 2;
}
