*{
    margin: 10px;
    padding: 10px;
}

.main{
    border: 2px solid #000;
    display: grid;
    height: 800px;
    width: 800px;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    
}

.box{
    background-color: rgb(139, 215, 243);
    border: 1px solid #000;
    color: black;

}

#box1{
    grid-area: 1/1/3/3;
}


#box4{
    grid-area: 1/5/3/7;
}
#box7{
    grid-column:1/7;
}
#box9{
    grid-column: 2/6;
}

